@font-face {
  font-family: "kingthings_trypewriter_2Rg";
  src: url("../assets/kingthings_trypewriter_2-webfont.woff2") format("woff2"),
    url("../assets/kingthings_trypewriter_2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --black: #0f172a;
  --darkblue: #1e293b;
  --accent: #ef4565;
  --secondary: #0f172a;
  --primary: #2962ff;
  --text-main: #f8fafc;
  --text-muted: #cbd5e1;
}

body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  background-color: var(--black);
  color: var(--text-main);
}
